ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 0;
}

li {
  height: 20rem;
  width: 15rem;
  border: none;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
}
